@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgb(8, 34, 49);
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}